.about {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
}

.about .image {
  width: 50%;
}

.about .text {
  width: 50%;
}
.about img {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 1024px) {
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about .image {
    width: 100%;
  }

  .about .text {
    width: 100%;
  }
  .about img {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}



h1 {
  font-weight: 600;
  font-family: Arial;
  font-size: 30px;
  font-display: inherit;
}