<div class="container-fluid footer mt-5">
        <div class="row">

            <div class="col-lg-4">
                    <h2>ManfyCom</h2>
                  <p>good food , good healthy...!</p>

            </div>

            <div class="col-lg-4">

                  <a  routerLink="">Home</a>
                  <a routerLink="Menu">Menu</a>
                  <a routerLink="About">About us</a>
                  <a routerLink="Contact">Contact us</a>
            </div>

            <div class="col-lg-4">
              <ul>
                <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
              </ul>
          </div>
        </div>
</div>
